{% extends 'blog/base.html' %}

{% block title %}
Подробнее
{% endblock %}

{% block content %}
<div style="text-align: center; margin: 20px 0;">
    <a class="btn btn-secondary" href="{% url 'post_list' %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Назад
    </a>
    <a class="btn btn-danger" href="{% url 'post_delete' post_pk=post.pk %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Удалить
    </a>
    <a class="btn btn-primary" href="{% url 'post_edit' post_pk=post.pk %}"
       style="text-decoration: none;margin: 5px;font-size: 15px; border-radius: 20px; padding: 10px 15px;">
        Редактировать
    </a>
</div>

<div class="card" style="margin: 20px; padding: 15px">
    <h3 class="title" style="text-align: center">
        {{ post.title }}
    </h3>
    <p class="published_date" style="text-align: center; margin: 15px 0 5px 0">
        {{ post.published_date }}
    </p>
    <p class="text" style="margin-bottom: auto">
        {{ post.text }}
    </p>
</div>
{% endblock %}